---
import { getCollection } from "astro:content";
import DocLayout from "../../layouts/DocLayout.astro";
import { summary } from "./summary";

export async function getStaticPaths() {
	const docPages = await getCollection("docs");

	return docPages.map((page) => ({
		params: {
			slug: page.slug,
		},
		props: {
			page,
		},
	}));
}
const { page } = Astro.props;
const { Content } = await page.render();
---

<DocLayout summary={summary}>
	<div class="md-content doc-content">
		<Content />
	</div>
</DocLayout>
