---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const posts = await getCollection("posts");

	return posts.map((post) => ({
		params: {
			slug: post.slug,
		},
		props: {
			post,
		},
	}));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title + " - Rift"}>
	<div class="flex flex-col gap-4">
		<h1 class="not-prose heading1">{post.data.title}</h1>
		<p><i>{post.subtitle}</i></p>
		<p>
			By <strong>{post.data.author}</strong> on {
				new Date(post.data.date).toLocaleDateString("en-US", {
					timeZone: "UTC",
				})
			}
		</p>
		<br />
		<div class="md-content">
			<Content />
		</div>
	</div>
</Layout>
