---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../content/posts/*.md");
---

<Layout title="Blog">
	<h1>Blog</h1>
	<section class="page-content">
		<div class="container">
			{
				posts.map((post) => (
					<div>
						<h2>{post.frontmatter.title}</h2>
						<p>
							<strong>{post.frontmatter.author}</strong> -
							{new Date(post.frontmatter.date).toLocaleDateString("en-US", {
								timeZone: "UTC",
							})}
						</p>
						<p>
							<i>{post.frontmatter.subtitle}</i>
						</p>
						<a
							class="btn btn-primary btn-sm"
							href={`/blog/${post.frontmatter.slug}`}
						>
							Read more
						</a>
					</div>
				))
			}
		</div>
	</section>
</Layout>
