---
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../content/posts/*.md");
---

<Layout title="Blog">
	<div class="flex flex-col gap-6">
		<h1 class="heading1">Blog</h1>
		<p class="badge badge-lg badge-primary">Tags</p>
		{
			posts.map((post) => (
				<div>
					<a href={`/blog/${post.frontmatter.slug}`}>
						<h2 class="heading2">{post.frontmatter.title}</h2>
					</a>
					<p class="dim-text">
						<strong>{post.frontmatter.author}</strong> -
						{new Date(post.frontmatter.date).toLocaleDateString("en-US", {
							timeZone: "UTC",
						})}
					</p>
					<p>
						<i>{post.frontmatter.subtitle}</i>
					</p>
				</div>
			))
		}
	</div>
</Layout>
