---
import DocSummary from "../components/DocSummary.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Docs">
	<h1 class="heading1">Docs</h1>
	<p>idk what to put here yet. there'll be previews here lol.</p>

	<a href="/docs/test-doc">Test doc</a>
</Layout>
