---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import CardGrid from "../components/CardGrid.astro";
---

<Layout title="Grid layout">
	<h1 class="heading1">Grid layout</h1>
	<CardGrid>
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
	</CardGrid>
</Layout>
