---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import CardGrid3 from "../components/CardGrid3.astro";
---

<Layout title="Grid layout">
	<h1 class="heading1">Grid layout</h1>
	<CardGrid3>
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
	</CardGrid3>
</Layout>
