---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
---

<Layout title="Grid layout">
	<h1 class="heading1">Grid layout</h1>
	<div class="rift-grid grid-cols-3">
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
		<Card />
	</div>
</Layout>
