---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";

import { getRiftConfig } from "../scripts/riftConfig";

const config = getRiftConfig();
---

<Layout title="Rift for Astro">
	<div class="flex flex-col gap-3">
		<h1 class="heading1">{config.homeHeading}</h1>
		<h3 class="heading3">{config.description}</h3>
		<h4 class="heading4 dim-text">{config.tagline}</h4>
		<div class="flex flex-row gap-3">
			<a
				href="/docs"
				class="btn btn-primary btn-sm"
				>Get started
			</a>
			<a
				href="https://github.com/njshockey/rift-astro"
				target="_blank"
				class="btn btn-neutral btn-sm"
				>View on GitHub
			</a>
		</div>
		<br />
		<div class="rift-grid grid-cols-3">
			<Card title="We have features!">
				<p>Most definitely!</p>
			</Card>
			<Card title="We have a cat!">
				<p>We actually don't. We're working on it.</p>
			</Card>
			<Card title="Placeholder">
				<p>Hopefully no one else will see this garbage.</p>
			</Card>
		</div>
	</div>
</Layout>
