---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Website">
	<Hero button={true} />
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
		labore et dolore magna aliqua. Lacus vel facilisis volutpat est velit. Lorem sed risus
		ultricies tristique nulla aliquet enim tortor. In fermentum et sollicitudin ac orci
		phasellus egestas tellus rutrum. Habitant morbi tristique senectus et netus et malesuada
		fames. A diam maecenas sed enim. Rutrum quisque non tellus orci ac auctor. In dictum non
		consectetur a erat nam at. Elit sed vulputate mi sit. Nisi lacus sed viverra tellus in.
		Feugiat vivamus at augue eget arcu. Urna porttitor rhoncus dolor purus non enim. Enim eu
		turpis egestas pretium. Feugiat sed lectus vestibulum mattis ullamcorper. Scelerisque purus
		semper eget duis at tellus at urna condimentum. Sed viverra tellus in hac habitasse platea.
		In egestas erat imperdiet sed euismod nisi. Diam vel quam elementum pulvinar.
	</p>
	<br />
	<p>
		Duis convallis convallis tellus id interdum velit laoreet id donec. Neque viverra justo nec
		ultrices dui sapien eget mi proin. Donec pretium vulputate sapien nec sagittis. Enim diam
		vulputate ut pharetra sit amet aliquam id diam. Elit at imperdiet dui accumsan sit amet
		nulla. Urna neque viverra justo nec. Vel elit scelerisque mauris pellentesque pulvinar
		pellentesque. Tortor condimentum lacinia quis vel eros donec ac odio tempor. Eget egestas
		purus viverra accumsan in nisl nisi scelerisque. Viverra maecenas accumsan lacus vel
		facilisis volutpat. Mauris augue neque gravida in fermentum et sollicitudin ac orci. Nisi
		quis eleifend quam adipiscing vitae. Pellentesque pulvinar pellentesque habitant morbi.
		Gravida arcu ac tortor dignissim convallis aenean. Amet dictum sit amet justo donec enim
		diam.
	</p>
</Layout>
