---
import { type Section, type SubSection } from "../scripts/summarySection";

interface Props {
	section: Section;
}

const { section } = Astro.props as Props;

const pathname = new URL(Astro.request.url).pathname;
---

<details open>
	<summary>{section.title}</summary>
	<ul>
		{
			section.subsections.map((sub) => (
				<li>
					<a
						class={pathname === sub.link ? "doc-summary-active" : ""}
						href={sub.link}
					>
						{sub.title}
					</a>
				</li>
			))
		}
	</ul>
</details>
