---
import { getEntry } from "astro:content";
import { type Section, type SubSection } from "../scripts/summarySection";
import DocSummarySection from "./DocSummarySection.astro";

interface Props {
	collectionName?: string;
	summary?: Section[];
}

const defaultSection: Section[] = [
	{
		title: "A section",
		subsections: [{ title: "This is a link", link: "https://www.google.com" }],
	},
];

const { collectionName = "docs", summary = defaultSection } = Astro.props as Props;
---

<div class="doc-summary">
	{summary.map((section) => <DocSummarySection section={section} />)}
</div>
