<footer class="footer items-center p-4 text-base-content">
	<aside class="items-center grid-flow-col">
		<p>Copyright © 20XX - All rights reserved</p>
	</aside>
	<nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
		<a
			href="https://github.com/"
			target="_blank"
			>Github</a
		>
		<a
			href="https://www.google.com/"
			target="_blank"
			>Sitemap</a
		>
	</nav>
</footer>
