---
interface Props {
	title?: string;
	text?: string;
	button?: boolean;
	buttonText?: string;
	buttonLink?: string;
}

const {
	title = "Behold: a website",
	text = "Truly astonishing.",
	button = false,
	buttonText = "Learn more",
	buttonLink = "https://docs.astro.build/en/getting-started/",
} = Astro.props as Props;
---

<div class="hero">
	<div class="hero-content text-center">
		<div class="max-w-md">
			<h1 class="text-5xl font-bold">{title}</h1>
			<p class="py-6">
				{text}
			</p>
			{
				// Check if there should be a button.
				button && (
					<a
						href={buttonLink}
						class="btn btn-primary"
					>
						{buttonText}
					</a>
				)
			}
		</div>
	</div>
</div>
