---
interface Props {
	title?: string;
	infoType?: string;
}

const { title, infoType } = Astro.props as Props;

let bgColorClass = "";

// Default
if (!infoType || infoType === "none" || infoType === "neutral") {
	bgColorClass = "rift-info-box-bg";
}

// Info
if (infoType === "tip" || infoType === "info") {
	bgColorClass = "bg-info";
}

// Warning
if (infoType === "warning" || infoType === "caution") {
	bgColorClass = "bg-warning";
}

// Danger
if (infoType === "danger" || infoType === "error") {
	bgColorClass = "bg-error";
}
---

<div class:list={["rift-info-box", bgColorClass, "flex", "flex-col", "gap-2", "p-3"]}>
	<p class="font-bold">{title}</p>
	<slot />
</div>
