<div class="tabs flex flex-row justify-center">
	<a class="tab tab-bordered tab-active">Home</a>
	<a class="tab tab-bordered">Blog</a>
	<a class="tab tab-bordered">Tags</a>
	<a class="tab tab-bordered">About</a>
</div>
