<div class="navbar">
	<div class="flex-1">
		<a class="btn btn-ghost normal-case text-xl">Corporate Co.</a>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal px-1">
			<li><a>Home</a></li>
			<li><a>Blog</a></li>
			<li><a>Docs</a></li>
			<li>
				<details>
					<summary>Other pages</summary>
					<ul class="p-2 bg-base-300">
						<li><a>Showcase</a></li>
						<li><a>Grid layout</a></li>
						<li><a>Markdown preview</a></li>
						<li><a>Author</a></li>
					</ul>
				</details>
			</li>
			<li><a>About</a></li>
		</ul>
	</div>
</div>
