---
import type { MarkdownHeading } from "astro";

interface Props {
	headings: MarkdownHeading[];
	depth?: number;
	label?: string;
	showToc?: boolean;
}

const { headings, depth = 2, label = "Table of Contents", showToc = false } = Astro.props as Props;
---

{
	showToc && (
		<ul class="menu menu-sm w-full m-0 p-0">
			<li>
				<details class="rift-toc">
					<summary>{label}</summary>
					<ul class="pl-0">
						{headings.map((h) => (
							<li>
								<a href={"#" + h.slug}>{h.text}</a>
							</li>
						))}
					</ul>
				</details>
			</li>
		</ul>
	)
}

<style>
	a {
		text-decoration: none;
	}
</style>
