---
import AutoIcon from "./icons/AutoIcon.astro";
import SunIcon from "./icons/SunIcon.astro";
import MoonIcon from "./icons/MoonIcon.astro";
---

<script>
	import { changeTheme } from "../scripts/changeTheme";

	const btnAuto = document.getElementById("btn-auto") as HTMLLIElement;
	const btnLight = document.getElementById("btn-light") as HTMLLIElement;
	const btnDark = document.getElementById("btn-dark") as HTMLLIElement;

	btnAuto.addEventListener("click", onBtnAutoClick);
	btnLight.addEventListener("click", onBtnLightClick);
	btnDark.addEventListener("click", onBtnDarkClick);

	function onBtnAutoClick() {
		changeTheme("auto");
	}

	function onBtnLightClick() {
		changeTheme("light");
	}

	function onBtnDarkClick() {
		changeTheme("dark");
	}

	// TODO: Load preferred theme on page load.
</script>

<div class="dropdown dropdown-bottom">
	<label
		tabindex="0"
		class="btn btn-ghost"
		><AutoIcon />Theme</label
	>
	<ul
		tabindex="0"
		class="dropdown-content z-[1] menu p-2 shadow bg-base-300 rounded-box w-32"
	>
		<li id="btn-auto"><a><AutoIcon /> Auto</a></li>
		<li id="btn-light"><a><SunIcon /> Light</a></li>
		<li id="btn-dark"><a><MoonIcon /> Dark</a></li>
	</ul>
</div>
