---
import AutoIcon from "./icons/AutoIcon.astro";
import SunIcon from "./icons/SunIcon.astro";
import MoonIcon from "./icons/MoonIcon.astro";
---

<script>
	// import { changeTheme } from "../scripts/changeTheme";

	// const themeSwitcher = document.getElementById("theme-switcher") as HTMLInputElement;
	// themeSwitcher.addEventListener("click", onClick);

	// function onClick() {
	// 	const checked = themeSwitcher.checked;
	// 	changeTheme(checked);
	// }
</script>

<div class="dropdown dropdown-bottom">
	<label
		tabindex="0"
		class="btn btn-ghost"
		><AutoIcon />Theme</label
	>
	<ul
		tabindex="0"
		class="dropdown-content z-[1] menu p-2 shadow bg-base-300 rounded-box w-32"
	>
		<li><a><AutoIcon /> Auto</a></li>
		<li><a><SunIcon /> Light</a></li>
		<li><a><MoonIcon /> Dark</a></li>
	</ul>
</div>
