@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	margin: 0;
	padding: 0;
	background-color: #1e1e1e;
}

body {
	@apply text-lg;
}

@layer base {
	h1 {
		font-size: 1.875rem !important;
		line-height: 2.25rem !important;
		font-weight: 700 !important;
	}

	h2 {
		@apply text-2xl font-bold;
	}

	h3 {
		@apply text-3xl font-bold;
	}
}

.main-content {
	@apply max-width mx-auto flex flex-col m-0 p-0 min-h-screen;
}

.max-width {
	@apply max-w-5xl;
}

.icon {
	@apply fill-base-content;
}

.theme-icon {
	@apply h-4 w-4;
}

.theme-icon-lg {
	@apply h-6 w-6;
}

.social-icon {
	@apply w-8 h-8;
}
