@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light dark;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	margin: 0;
	padding: 0;
	background-color: #1e1e1e;
}

body {
	@apply text-lg;
}

code {
	@apply bg-base-300;
	@apply rounded !important;
}

.heading-font {
	font-family: var(--heading-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply heading-font;
}

/* TODO: Make headings use these by default. */
.heading1 {
	@apply text-4xl font-bold;
}

.heading2 {
	@apply text-3xl font-bold;
}

.heading3 {
	@apply text-2xl font-bold;
}

.heading4 {
	@apply text-xl font-bold;
}

.heading5 {
	@apply text-lg font-bold;
}

.heading6 {
	@apply text-base font-bold;
}

.main-content {
	@apply max-width mx-auto flex flex-col m-0 p-0 min-h-screen;
}

.md-content {
	@apply prose prose-headings:font-bold prose-img:rounded-lg prose-code:rounded-lg;
	@apply prose-p:text-base-content prose-ul:text-base-content prose-ol:text-base-content prose-headings:text-base-content prose-table:text-base-content;
	@apply prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl prose-h5:text-lg prose-h6:text-base;

	line-height: 1.6rem;
}

.doc-summary {
	@apply text-base-content rounded-lg p-2;
	min-width: 200px;
}

.doc-summary h1 {
	@apply font-bold;
}

.active-page {
	@apply text-primary;
}

.doc-summary-active {
	@apply text-primary font-bold;
}

.task-list-item {
	list-style: none;
}

.tablist-wrapper li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	line-height: 1.6rem;
}

.tablist-wrapper ul {
	padding: 0px;
	margin: 0px;
}

#table-of-contents {
	margin-top: 0;
}

.doc-content {
	@apply w-full;
}

.doc-content h2,
.doc-content h3,
.doc-content h4,
.doc-content p {
	margin-top: 0;
}

.doc-content h2 {
	margin-bottom: 1.25rem;
}

.doc-content section pre {
	@apply w-full;
	margin: 0px !important;
}

.mono-font {
	font-family: var(--mono-font-family);
}

.doc-content section pre,
.md-content .astro-code,
.md-content code,
.doc-content code {
	@apply mono-font;
}

.rift-code-group {
	@apply tabs tabs-bordered;
}

.rift-grid {
	@apply grid gap-2 w-full;
}

.rift-info-box {
	@apply rounded-lg mb-5;
}

.rift-info-box p,
.rift-info-box ul,
.rift-info-box li,
.rift-info-box h1,
.rift-info-box h2,
.rift-info-box h3,
.rift-info-box h4,
.rift-info-box h5,
.rift-info-box h6 {
	@apply mb-0;
}

.rift-info-box-bg {
	@apply bg-base-200;
}

.rift-link-box {
	@apply rift-info-box-bg;
}

.tab-active {
	@apply text-primary;
}

.tab-content hidden {
	visibility: hidden;
}

.max-width {
	@apply max-w-5xl;
}

.dim-text {
	color: var(--dim-text);
}

.icon {
	@apply fill-base-content;
}

.theme-icon {
	@apply h-4 w-4;
}

.page-nav-icon {
	@apply h-8;
}

.theme-icon-lg {
	@apply h-6 w-6;
}

.social-icon {
	@apply w-8 h-8;
}

/* TODO: Broken auto theme */

[data-theme="dark"] .astro-code,
[data-theme="dark"] .astro-code span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
}
