@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	margin: 0;
	padding: 0;
	background-color: #1e1e1e;
}

body {
	@apply text-lg;
}

h1 {
	@apply text-4xl font-bold;
}

h2 {
	@apply text-3xl font-bold;
}

h3 {
	@apply text-2xl font-bold;
}
