---
import "../global.css";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<script>
	import { loadTheme } from "../scripts/changeTheme";
	loadTheme();
</script>

<html
	lang="en"
	data-theme="auto"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Astro description"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>
	<body class="max-width mx-auto flex flex-col m-0 min-h-screen">
		<NavBar />
		<div class="px-8">
			<slot />
		</div>
		<!-- Empty space to move footer to the bottom of the page -->
		<div class="grow h-0"></div>
		<Footer />
	</body>
</html>
